{% load static %}
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>{% block title %}Base{% endblock title %}</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/app.js'%}"></script>
       <script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
  </head>
<body>

{%block header%}<header class="header--main-page">{%endblock%}
      <nav class="container container--70">
        <ul class="nav--actions">
          {%if user.is_authenticated %}
        <li class="logged-user">
            Witaj {{user.first_name}}
            <ul class="dropdown">
              <li><a href="/profil">Profil</a></li>
              <li><a href="#">Ustawienia</a></li>

                {% if user.is_superuser %}
                <li><a href="/admin">Panel administracyjny</a></li>
                {%endif%}
              <li><a href="/logout">Wyloguj</a></li>
            </ul>
          </li>
            {%elif user.is_superuser%}
            <li class="logged-user">
            Witaj {{user.first_name}}
            <ul class="dropdown">
              <li><a href="#">Profil</a></li>
              <li><a href="#">Ustawienia</a></li>

              <li><a href="/logout">Wyloguj</a></li>
            </ul>
          </li>
          {%else%}
          <li><a href="{% url 'login' %}" class="btn btn&#45;&#45;small btn&#45;&#45;without-border">Zaloguj</a></li>
           <li><a href="{% url 'register' %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
        </ul>
{%endif%}

        <ul>
          <li><a href="/#" class="btn btn--without-border active">Start</a></li>
          <li><a href="/#steps" class="btn btn--without-border">O co chodzi?</a></li>
          <li><a href="/#about-us" class="btn btn--without-border">O nas</a></li>
          <li><a href="/#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
          <li><a href="{% url 'add_donation' %}" class="btn btn--without-border">Przekaż dary</a></li>
          <li><a href="/#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
      </nav>
    {%block header_extra_content%}
    {%endblock%}
</header>
{%block super%}{%endblock%}
{% block content %}

{% endblock content %}


<footer>

      <div class="contact">
        <h2>Skontaktuj się z nami</h2>
        <h3>Formularz kontaktowy</h3>
        <form class="form--contact">
          <div class="form-group form-group--50">
            <input type="text" name="name" placeholder="Imię" />
          </div>
          <div class="form-group form-group--50">
            <input type="text" name="surname" placeholder="Nazwisko" />
          </div>

          <div class="form-group">
            <textarea
              name="message"
              placeholder="Wiadomość"
              rows="1"
            ></textarea>
          </div>

          <button class="btn" type="submit">Wyślij</button>
        </form>
      </div>
   <section id="contact"></section>
      <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2018</span>
        <div class="bottom-line--icons">
          <a href="#" class="btn btn--small"
            ><img src="images/icon-facebook.svg"
          /></a>
          <a href="#" class="btn btn--small"
            ><img src="images/icon-instagram.svg"
          /></a>
        </div>
      </div>
    </footer>

</body>
</html>
