
{% extends "base.html" %}
{% load static %}
{% block title %}your personal info{% endblock title %}

{%block header%}
<header class="header--form-page">
  {%endblock%}

{%block header_extra_content%}
  <div class="slogan container container--90">
        <div class="slogan--item">
            <h1> Imie: {{user.first_name}}<br>Nazwisko: {{user.last_name}}<br>e-mail: {{user.email}}</h1>
            {%for donation in donations%}
                <ul class="stats--item"> Twój dar nr {{donation.id}}:
                    <li>liczba workow: {{donation.quantity}}</li>
                    <li>wsparta organizacja: {{donation.institution}}</li>
                    <li>kategorie przekazanych darow: {%for category in donation.categories.all%}
                                                    {{category.name}}{%endfor%}</li>
                    <li>data odebrania: {{donation.pick_up_date}}</li>
                    <li> czy odbrane:</li>
                    <form method="post">
                    {% csrf_token %}
                    <input type=checkbox checked name="is_taken">
                    <input type="submit" value="odebrany">
                </form>
                    <li>{{ donation.is_taken }}</li>
                </ul>{%endfor%}
        </div>
  </div>

{%endblock%}
